.publicacionBarra{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publicacionLabelHorizontal{

    justify-content: space-between;

}

.publicacionTitulo{
    font-size: 20;
    font-weight: bold;
    margin-top: 1%;
    justify-content: center;
}

.publicacionNombreUsuario{
    font-size: 20;
    font-weight: 500;
    left:0%;
    margin: 2px;
}

.publicacionFecha{
    font-size: 14px;
}

.publicacionDescripcion{
    margin: 2px;
}

.postImage{
    margin-top: 3px;
    width: 100%;
    max-height: 500px;
    justify-content: center;
}

.publicacionNumLikes{
    font-size: 14px;
}
.postBoton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.botonIzquierdaSup{
    position: absolute;
    right: 49%;
}

.nombreUsuario{

    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    margin-left: 5px;
}

.publicacionFecha{

    font-size: 15;
    color:darkgray;
    font-weight:bold;

}

.publicacionBotonReportar{

    align-self: flex-end;
}

.publicacionBotonComentarios{

    border-width: 1px;
    border-color: royalblue;
    justify-content: space-between;
    margin: 1px;
    border-radius: 5px;
}

.publicacionLikes{

    border-width: 1px;
    border-color: royalblue;
    margin: 1px;
    border-radius: 13px;
    width:20%;
    justify-content: right;
}
.likeIcono{
    width: 24px;
    height: 24px;
}

.mostrarComentarios{
    border-width: 1px;
    border-color: royalblue;
    margin: 1px;
    border-radius: 13px;
    width:auto;
}

.flechaComentario{
    justify-content: center;
}