.publicacion{
    justify-content: center
}

.publicacionWrapper{
    padding: 10px;
    width: 75%;
}

.publicacionBarra{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publicacionTitulo{
    font-size: 20;
    margin: 2px;
}

.publicacionNombreUsuario{
    font-size: 20;
    font-weight: 500;
    left:0%;
    margin: 2px;
}

.publicacionFecha{
    font-size: 14px;
    position: relative;
    left:95%;
}

.publicacionCentro{
    margin: 20px;
}

.publicacionDescripcion{
    margin: 2px;
}

.postImage{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
}

.publicacionNumLikes{
    font-size: 14px;
}
.postBoton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeIcono{
    width: 24px;
    height: 24px;
    margin-top: 5px;
}